---
import InfoIcon from "@components/resources/icons/InfoIcon.astro";
import Layout from "@layouts/Layout.astro";
import WishList from "@components/WishList.astro";
import SendWishList from "@components/SendWishList.astro";


---

<Layout title="Lista de Deseos">
  <section class="p-2 grid gap-3 md:grid-cols-3">
    <header class="flex flex-col gap-3 md:col-span-full">
      <h2 class="font-bold text-2xl">Tu lista de deseos</h2>
      <div
        class="text-pretty p-4 text-sm bg-yellow-50 dark:bg-neutral-700 rounded-lg flex items-center justify-between shadow"
      >
        <p>
          Edita las cantidades que necesites y al final podras enviar tu lista.
          Si "copias" o "descargas" el presupuesto, puedes enviarnoslo por
          cualquier medio.
        </p>
        <InfoIcon className="text-orange-500 size-7 min-w-6" />
      </div>
    </header>
    <main
      class="bg-yellow-50 dark:bg-neutral-700 rounded-lg p-4 flex flex-col gap-1 items-center shadow md:col-span-2 h-fit"
    >
      <WishList/>
    </main>
    <aside
      class="bg-yellow-50 dark:bg-neutral-700 rounded-lg p-4 flex flex-col gap-1 items-center shadow h-fit"
    >
      <SendWishList/>
    </aside>
  </section>
</Layout>
