---
import Title from "@components/resources/Title.astro";
import Card from "@components/resources/Card.astro";
import { getCategories } from "@lib/get-categories";

// El contenido se cargará de forma diferida
const allCategories = await getCategories();
---

<section id="categorias" class="py-5 px-2 scroll-m-80 md:scroll-m-20">
  <Title title="Nuestras categorias" subtitle="Conoce nuestro productos" />

  <article
    class="parent grid grid-cols-1 items-center justify-center flex-wrap py-5 gap-5 md:grid-cols-2"
  >
    {
      allCategories.map((categorie) => {
        const url = "/categories/" + categorie.id_categorie;

        return (
          <Card
            title={categorie.name}
            image={categorie.image.url}
            href={url}
            server:defer
          >
            <div slot="fallback" class="animate-pulse">
              <div class="bg-gray-200 dark:bg-gray-700 h-48 rounded-lg" />
              <div class="mt-2 h-4 bg-gray-200 dark:bg-gray-700 rounded w-3/4" />
            </div>
          </Card>
        );
      })
    }
  </article>
</section>

<script>
  // Agregar un intervalo para actualizar los datos cada 30 segundos
  setInterval(async () => {
    const response = await fetch("/api/categories");
    const data = await response.json();

    // Actualizar el contenido de las tarjetas
    const cards = document.querySelectorAll(".parent > *");
    cards.forEach((card, index) => {
      if (data[index]) {
        const title = card.querySelector("h3");
        const image = card.querySelector("img");
        if (title) title.textContent = data[index].name;
        if (image) image.src = data[index].image.url;
      }
    });
  }, 30000);

  document.addEventListener("astro:page-load", () => {
    const parent = document.querySelector(".parent");
    const childrenCount = parent.children.length;

    if (parent) {
      if (childrenCount % 3 === 0) {
        parent.classList.add("lg:grid-cols-3");
      } else {
        parent.classList.add("lg:grid-cols-2");
        parent.classList.add("2xl:grid-cols-4");
      }
    }
  });
</script>
