---
import Title from "@components/resources/Title.astro";
import Card from "@components/resources/Card.astro";
import { getCategories } from "@lib/get-categories";

const allCategories = await getCategories();
---

<section id="categorias" class="py-5 px-2 scroll-m-80 md:scroll-m-20">
  <Title title="Nuestras categorias" subtitle="Conoce nuestro productos" />

  <article
    class="parent grid grid-cols-1 items-center justify-center flex-wrap py-5 gap-5 md:grid-cols-2"
  >
    {
      allCategories.map((categorie) => {
        const url = "/categories/" + categorie.id_categorie;

        return (
          <Card title={categorie.name} image={categorie.image.url} href={url} />
        );
      })
    }
  </article>
</section>

<script>

document.addEventListener("astro:page-load", () => {
  const parent = document.querySelector(".parent");
  const childrenCount = parent.children.length;

  if (parent) {
    if (childrenCount % 3 === 0) {
      parent.classList.add("lg:grid-cols-3");
    } else {
      parent.classList.add("lg:grid-cols-2"); // Clase por defecto
      parent.classList.add("2xl:grid-cols-4");
    }
  }
});
</script>
