---
import ButtonPrimary from "@components/resources/ButtonPrimary.astro";
import ButtonSecondary from "@components/resources/ButtonSecondary.astro";
import Counter from "./Counter.astro";

---

<section id="#inicio" class="mt-4 p-2 gap-8 scroll-m-4 grid md:grid-cols-2 md:items-center">
  <article class="flex flex-col gap-4">
    <h1 class="text-4xl sm:text-4xl lg:text-5xl 2xl:text-6xl font-bold text-nowrap">
      Celebra Estas Fiestas <br /> con <span class="text-orange-500"
        >FireWorks</span
      >
    </h1>

    <p class="text-base lg:text-lg 2xl:text-xl ">
      Crea una "Lista de Deseos" con tus fuegos artificiales favoritos y
      contactanos para confirmar el pedido. Escribenos por <a
        href="#"
        class="font-semibold">correo</a
      > o por <a href="#" class="font-semibold">whatsapp</a>.
    </p>

    <div class="flex flex-col md:flex-row gap-3 w-full">
      <ButtonPrimary text="Armar lista" class="w-full">
        <svg
          class="size-5 ml-0.5 -mr-2"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><path
            d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
          ></path></svg
        >
      </ButtonPrimary>
      <ButtonSecondary text="Contactanos" />
    </div>
  </article>
  <article class="flex self-stretch">
    <Counter/>
  </article>
</section>
