---
import InfoIcon from "./icons/InfoIcon.astro";

const {title, className} = Astro.props;
---

<button class:list={["rounded-xl group hover:bg-[#ffffee] hover:shadow border dark:border-neutral-800 p-5 transition dark:hover:bg-neutral-800 dark:text-neutral-200", className]}>
<h4 class:list={["text-lg font-bold flex items-center justify-between", className]}>
  {title}
<InfoIcon/>
</h4>
<p class:list={["text-pretty text-left", className]}>
  <slot/>
</p>
</button>