---
interface Props {
	title: string;
}
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-gray-200 text-neutral-800 dark:text-gray-200 dark:bg-neutral-800 px-3 container mx-auto ">
		<slot />
	</div>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Onest';
		src: url('/public/src/fonts/Onest.ttf');
	}

	@font-face {
		font-family: 'Poppins';
		src: url('/public/src/fonts/Poppins.ttf');
	}

	@font-face {
		font-family: 'CygnitoMono';
		src: url('/public/src/fonts/CygnitoMono.otf');
	}

	@font-face {
		font-family: 'Metronic';
		src: url('/public/src/fonts/Metronic.ttf');
	}

	.font-metronic {
		font-family: 'Metronic';
	}

	.font-cygnito {
		font-family: 'CygnitoMono';
	}

	.font-poppins {
		font-family: 'Poppins';
	}

	.font-onest {
		font-family: 'Onest';
	}

	p {
		text-wrap: pretty;
	}
</style>