---
interface Props {
	title: string;
}
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-gray-200 text-neutral-800 dark:text-gray-200 dark:bg-neutral-800 px-3 container mx-auto">
		<slot />

		<div id="test"> Lorem ipsum dolor sit amet <span class="font-bold">adipisicing elit.</span>  Repudiandae doloremque cum asperiores iusto ipsa ipsum mollitia! Eligendi voluptatem aliquam dolore vero quae corporis enim, officiis saepe consequatur quas, ipsam similique.</div>
		<div class="h-dvh">
			<div class="flex">
			<div class="h-48 w-full bg-neutral-800"></div>
			<div class="h-48 w-full  bg-orange-500"></div>
		</div>
		
	</div>
	</body>
</html>
